{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Display messages -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>{{ listing.title }}</h2>
        {% if user.is_authenticated %}
            <!-- Show "Add to Watch List" button only if it's not already in the watch list -->
            {% if not is_in_watch_list %}
                <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add to Watch List</button>
                </form>
            {% else %}
                <form action="{% url 'remove_from_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watch List</button>
                </form>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}" class="btn btn-success" >Log in</a> to manage your watchlist.</p>
        {% endif %}

    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" height="400px" >
    <!-- style="max-width: 500px; height: auto;" -->
    <p row mx-3 >{{ listing.description }}</p>
    <p><strong>Seller:</strong> {{ listing.seller.username }}</p>
    <p><strong>Current Bid:</strong> ${{ listing.current_bid }}</p>
    <p><strong>Category:</strong> {{ listing.category.category_name }}</p>

    <h2 style="text-align: left;">Comments </h2>
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label for="New_comment" class="form-label">Add Comment</label>
                <textarea name="New_comment" class="form-control" id="New_comment" rows="4" placeholder="Enter your comment here" required></textarea>
            </div>
            <div class="form-group mt-3">
                <button  type="submit" class="btn btn-warning">Add Comment</button>
            </div>
        </form>
    {% endif %}

    <br/>
    <ul class="list-group"></ul>
    {%  for comment in all_comments %}
        <li class="list-group-item">{{comment.message}}
            <br/>
            <p style="text-align: end;" > Posted by <strong>{{ comment.author}} </strong> at {{ comment.comment_time|date:"d M, Y H:i" }}</p>
        </li>
    {% endfor%}
    </ul>
    {% endblock %}
