{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Display messages -->
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Listing Detail -->
    <div class="listing-detail-container">
        <div class="listing-detail">
            <div class="listing-image-container">
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="listing-image">
            </div>
            <div class="listing-info">
                <h2>{{ listing.title }}</h2>
                <p class="listing-description">{{ listing.description }}</p>
                <p><strong>Seller:</strong> {{ listing.seller.username }}</p>
                <p><strong>Starting Bid:</strong> ${{ listing.current_bid }}</p>
                <p><strong>Current Bid:</strong> ${{ listing.highest_bid }}</p>
                <p>Bid count: <strong>{{ listing.bid_count }}</strong></p>
                <p><strong>Category:</strong> {{ listing.category.category_name }}</p>

                {% if user.is_authenticated %}
                    {% if user != listing.seller and listing.status %}
                        <form method="post" action="{% url 'add_bid' listing.id %}" class="bid-form">
                            {% csrf_token %}
                            <label for="bid_amount">Enter Your Bid:</label>
                            <input type="number" id="bid_amount" name="bid_amount" step="0.01" min="{{listing.highest_bid}}" required>
                            <button type="submit" class="btn btn-primary">Place Bid</button>
                        </form>
                    {% endif %}
                {% endif %}

                {% if user.is_authenticated %}
                    {% if user == listing.seller and listing.status %}
                        <form action="{% url 'close_listing' listing.id %}" method="POST" class="close-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Close Bid</button>
                        </form>
                    {% else %}
                        <p><strong>Buyer:</strong> {{ listing.buyer }}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="comments-section">
            <h2>Comments</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'add_comment' listing.id %}" method="post" class="comment-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="New_comment" class="form-label">Add Comment</label>
                        <textarea name="New_comment" class="form-control" id="New_comment" rows="4" placeholder="Enter your comment here" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Add Comment</button>
                </form>
            {% endif %}

            <ul class="comment-list">
                {% for comment in all_comments %}
                    <li class="comment-item">
                        <p>{{ comment.message }}</p>
                        <p class="comment-author">Posted by <strong>{{ comment.author }}</strong> at {{ comment.comment_time|date:"d M, Y H:i" }}</p>
                    </li>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
