{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listings in {{ category.category_name }}</h2>

    <div class="listing-container">
        <div class="listing-grid">
            {% for ls in listing_by_category %}
            <a href="{% url 'listing_detail' ls.id %}" class="listing-link">
            <div class="listing-card">
                    <h3 class="listing-title">{{ ls.title }}</h3>
                    <img src="{{ ls.image_url }}" alt="{{ ls.title }}" class="listing-image">
                    <p class="listing-description">{{ ls.description }}</p>
                    <p class="listing-seller"><strong>Seller:</strong> {{ ls.seller}}</p>
                    <p class="listing-current-bid"><strong>Starting Bid:</strong> ${{ ls.current_bid }}</p>
                    {% if ls.current_bid < ls.highest_bid%}
                        <p class="listing-current-bid"><strong>Current Bid:</strong> ${{ ls.highest_bid }}</p>
                    {% endif %}
                    <p class="listing-category"><strong>Category:</strong> {{ ls.category.category_name }}</p>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
