{% extends "auctions/layout.html" %}


{% block body %}
<h2>Watchlist for {{ user_name }}</h2>

    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}


<div class="listing-container">
    <div class="listing-grid">
        {% for ls in listing_by_category %}
        <a href="{% url 'listing_detail' ls.id %}" class="listing-link">
            <div class="listing-card">
                <h3 class="listing-title">{{ ls.title }}</h3>
                <img src="{{ ls.image_url }}" alt="{{ ls.title }}" class="listing-image">
                <p class="listing-description">{{ ls.description }}</p>
                <p class="listing-seller"><strong>Seller:</strong> {{ ls.seller.username }}</p>
                <p class="listing-current-bid"><strong>Current Bid:</strong> ${{ ls.current_bid }}</p>
                <p class="listing-category"><strong>Category:</strong> {{ ls.category.category_name }}</p>
            </a>
         <!-- Add "Remove from Watchlist" button -->
        <form action="{% url 'remove_from_watchlist' ls.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
        </form>
        </div>
        {% empty %}
        <p>No items in your watchlist.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
