{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="post-view">
    <h3>All Posts</h3>
    {% if user.is_authenticated %}
    <div>
        <h2>New Post</h2>
        <form id="post-form" action="{% url 'add_post' %}" method="post" >
            {% csrf_token %}
            <textarea class="form-control" id="post-body"  name = "content"></textarea>
            <button id="submit-btn" class="btn btn-primary">Post</button>
        </form>
    </div>
    {% endif %}
    <div id="post-content-view">
    </div>
    <div id="all_post" class="post-container">
        {% for post in post_of_page %}
        <div class="post-card">
            <div class="post-header">
            <a href="{% url 'profile' user_id=post.poster.id %}"><h5 class="username" >@{{ post.poster.username }}</h5></a>
            </div>
            <div class="post-body">
                <p class="content" id="content_{{post.id}}" >{{ post.post_content }}</p>
            </div>
            <div class="post-footer">
                <p class="date">Last updated: {{ post.last_updated }}</p>
            </div>
            {% if user.is_authenticated %}
                {% if user == post.poster%}
                    <div class="d-flex " >
                        <button class="btn btn-primary" data-toggle="modal" data-target="#model_edit_post_{{ post.id }}" >Edit</button>
                    </div>
                    <div class="modal" id ="model_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="model_edit_post_{{ post.id }}_label" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit Post</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <textarea rows="5" id="textarea_{{ post.id }}" class="form-control" name="content" >{{post.post_content}}</textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" onclick="submitHandler({{post.id}})" >Save changes</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                {% else %}
                    {% if post.id in user_like %}
                        <!-- User already liked this post -->
                        <button class="btn btn-info fa fa-thumbs-down col-1" style="color: blue;" 
                            id="unlike-{{ post.id }}" 
                            onclick="likeHandler({{ post.id }}, true)"></button>
                        <button class="btn btn-info fa fa-thumbs-up col-1" style="color: black; display: none;" 
                            id="like-{{ post.id }}" 
                            onclick="likeHandler({{ post.id }}, false)"></button>
                    {% else %}
                        <!-- User has not liked this post -->
                        <button class="btn btn-info fa fa-thumbs-up col-1" style="color: black;" 
                            id="like-{{ post.id }}" 
                            onclick="likeHandler({{ post.id }}, false)"></button>
                        <button class="btn btn-info fa fa-thumbs-down col-1" style="color: blue; display: none;" 
                            id="unlike-{{ post.id }}" 
                            onclick="likeHandler({{ post.id }}, true)"></button>
                    {% endif %}
                {%endif%}
            {%endif%}
        </div>
        {% endfor %}
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- Previous Button -->
            {% if post_of_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_of_page.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

        <!-- Next Button -->
            {% if post_of_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_of_page.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>

<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
