{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h3>{{ profile_user.username }}</h3>
<div class="container">
    <div class="row d-flex justify-content-center">
        <h3 class="col-4" >Follower:{{ followers.count }}</h3>
        <h3 class="col-4">Following:{{ following.count }}</h3>
        {% if user.is_authenticated %}
            {% if profile_user != user %}
                <form action="{% url 'follow_toggle' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_user" value="{{ profile_user.id }}">
                    {% if isFollowing %}
                        <input type="submit" class="btn btn-danger" value="Unfollow" />
                    {% else %}
                        <input type="submit" class="btn btn-success" value="Follow" />
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}

    </div>
</div>

<div id="post-view">
    <div id="post-content-view">
    </div>
    <div id="all_post" class="post-container">
        {% for post in post_of_page %}
        <div class="post-card">
            <div class="post-header">
            <a href="{% url 'profile' user_id=post.poster.id %}"><h5 class="username" >@{{ post.poster.username }}</h5></a>
            </div>
            <div class="post-body">
                <p class="content" id="content_{{post.id}}" >{{ post.post_content }}</p>
            </div>
            <div class="post-footer">
                <p class="date">Last updated: {{ post.last_updated }}</p>
            </div>
            {% if user.is_authenticated %}
                {% if user == post.poster%}
                    <div class="d-flex " >
                        <button class="btn btn-primary" data-toggle="modal" data-target="#model_edit_post_{{ post.id }}" >Edit</button>
                    </div>
                    <div class="modal" id ="model_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="model_edit_post_{{ post.id }}_label" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit Post</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <textarea rows="5" id="textarea_{{ post.id }}" class="form-control" name="content" >{{post.post_content}}</textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" onclick="submitHandler({{post.id}})" >Save changes</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                {%endif%}
            {%endif%}
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- Previous Button -->
            {% if post_of_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_of_page.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

        <!-- Next Button -->
            {% if post_of_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_of_page.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>

<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
